<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}" />
</head>
<body>
    <div id="wrapper">
	<div id="menu">
		<a href="/">Главная</a>
		<a href="/add_user">Регистрация</a>
		<a href="/login">Войти</a>
		{% if user %}
			<a href="/users">Все пользователи</a>
			<a href="/logout">Выйти</a>
			<a href="/page2">Для директора</a>
			<a href="/page3">Для Менеджера</a>
		{% endif %}
		
	</div>
	<div id="container">
		<div id="content">
             {% block content %} content {% endblock content %}
		</div>
	</div>
	<div id="footer">
		footer
	</div>
</div>
</body>
</html>