{% extends "base.html" %}
{% block title %} Все пользователи {% endblock title %}
{% block content %}
    <table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Логин</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Возраст</td>
            <td>Баланс</td>
            <td>Роль</td>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.balnce }}</td>
                <td>{{ user.role }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/add_user">Добавить пользователя</a>
<a href="/add_role">Добавить роль</a>
{% endblock content %}